@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
  --main-color: 198,120,221;
  --ruby: #e06c75;
}

.primary {
  color: rgb(var(--main-color));

  &:hover {
    color: darken(rgb(198,120,221), 15%);
  }
}

* {
  font-family: 'IBM Plex Mono';
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.logo {
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.25rem;
}

.skills i {
  font-size: 2.5rem;
  transition: all linear 0.25s;

  &:hover {
    cursor: grab;
  }
}

ul.tasks {
  margin-top: 30px;
}

.company-name,
.project-name {
  background-image: linear-gradient(transparent 0%, transparent calc(50% - 9px), 
                    rgba(var(--main-color), .466) calc(50% - 9px),
                    rgba(var(--main-color), .466) 100%);
  background-size: 100% 200%;
  background-position: 0px 0px;
  transition: all 120ms ease-in-out 0s;
  display: inline-block;
  font-weight: 500;

  &:hover {
    background-image: linear-gradient(transparent 0%, transparent calc(50% - 9px), 
                      rgba(var(--main-color), .5) calc(50% - 9px), rgba(var(--main-color), .5) 100%);
    background-position: 0px 100%;
  }
} 

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(0, 25px);
    opacity: 0;
  }
}

@keyframes slide-bottom {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate(0, 25px);
    opacity: 0;
  }
}

.ruby {
  color: var(--ruby);
}


.anchor-down {
  writing-mode: vertical-rl;
  font-family: 'VT323';
  color: rgb(var(--main-color));

  &:hover {
    animation: slide-bottom 2s infinite;
  }
}

@keyframes blink {
  0% { background: transparent }
  50% { background: rgba(var(--main-color), .466) }
  100% { background: transparent }
}

.navbar-brand::after {
  content: "";
  display: inline-block;
  background: rgba(var(--main-color), .466);
  -webkit-animation: blink 1s infinite;
  animation: blink 1s infinite;
  width: 10px;
  height: 18px;
}