@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: $main-bg;
  font-family: 'Fira Code', sans-serif;
  min-height: 100vh;
  margin: 0;
}

a, p, h1, h2, h3 {
  color: $main-text;
}

a {
  text-decoration: none;
  &:hover, &:active, &:focus {
    color: $text-visible;
  }
}

ul {
  padding: 0;
  margin: 0;
}

.window {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  margin: 0 1rem;
}

.window-title {
  color: $main-text;
  flex: 0 1 auto;
  margin: 0 auto;
}

.window-actions {
  display: flex; 
  gap: 7px;
  // padding: 0 0 0.75rem 0;

  span {
    width: 12px;
    height: 12px;
    border-radius: 1rem;

    &:nth-child(1) {
      background-color: #DE423E;
    }
    &:nth-child(2) {
      background-color: #F6B73B;
    }
    &:nth-child(3) {
      background-color: #50C541;
    }
  }
}

navbar {
  min-height: 3rem;
  position: relative;
  display: flex;
  align-items: center;
  gap: 4rem;
  border-top: 1px solid $navbar-border;
  border-bottom: 1px solid $navbar-border;
  flex-direction: row;
  padding: 0;
  background-color: $navbar-color;

  ul.navbar-tab {
    display: flex;
    align-items: center;
    list-style: none;
  }

  li.navbar-tab-item {
    padding: 0.9rem 4rem;
    border-right: 1px solid $navbar-border;
    position: relative;

    &:first-child {
      // border-left: 1px solid $navbar-border;
    }

    &:hover {
      background-color: $navbar-border;
    }

    .active {
      color: $text-visible;
    }
  }
}

.breadcrumb {
  height: 15px;
  width: 100%;
  background-color: $main-bg;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .30) !important;
}

.navbar-tab-item:has(a.active) {
  background-color: $main-bg;
  border: 1px solid $main-bg;
  border-top: 3px solid $active-color;
  top: 1px;
}

footer {
  color: $main-text;
  position: fixed;
  bottom: 0;
  width: 100%;
}