---
layout: default
active: true
---

<div class="sidebar">
  <p class="title">
    Explorer
  </p>
  <div class="level one">
    <span class="level-title">
      <span class="mdi mdi-chevron-down"></span>
      <span class="mdi mdi-folder"></span>
      Technologies
    </span>

    <ul class="level two">
      <li class="level-title">
        <span class="mdi mdi-chevron-right"></span>
        <span class="mdi mdi-language-ruby"></span>
        Ruby on Rails
      </li>
      <li class="level-title">
        <span class="mdi mdi-chevron-right"></span>
        <span class="mdi mdi-language-javascript"></span>
        Javascript
      </li>
      <li class="level-title">
        <span class="mdi mdi-chevron-right"></span>
        <span class="mdi mdi-code-tags"></span>
        HTML/CSS
      </li>
      <li class="level-title">
        <span class="mdi mdi-chevron-right"></span>
        <span class="mdi mdi-sass"></span>
        SASS
      </li>
      <li class="level-title">
        <span class="mdi mdi-chevron-right"></span>
        <span class="mdi mdi-react"></span>
        React
      </li>
      <li class="level-title">
        <span class="mdi mdi-chevron-right"></span>
        <span class="mdi mdi-git"></span>
        Git/Github
      </li>
      
    </ul>
  </div>
  <div class="level one">
    <span class="level-title">
      <span class="mdi mdi-chevron-down"></span>
      <span class="mdi mdi-folder"></span>
      Databases
    </span>
    <ul class="level two">
      <li class="level-title">
        <span class="mdi mdi-chevron-right"></span>
        <span class="mdi mdi-database"></span>
        PostgreSQL
      </li>
      <li class="level-title">
        <span class="mdi mdi-chevron-right"></span>
        <span class="mdi mdi-database"></span>
        Oracle
      </li>
    </ul>
  </div>
</div>