---
layout: page
---
<article>
  <div class="columns is-centered">
    <div class="column is-11">
      <header>
        <h1 class="project-title title is-spaced has-text-white is-2">{{ page.title }}</h1>
        <blockquote>
          {{ page.subtitle }}
        </blockquote>
        <p class="subtitle has-text-grey">{{ page.description }}</p>
      </header>
      
      <div class="project-overview mb-5">
        <div class="browser-window">
          <div class="browser-actions">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <img src="{{site.baseurl}}{{page.main_image}}" alt="{{page.title}}">
        </div>
        
        <div class="actions">
          <a class="button" href={{page.website}} target="_blank" role="button">
            <i class="fas fa-external-link-alt"></i>Visit the website
          </a>

          <a href={{page.repository}} class="button is-white" target="_blank">
            <i class="fab fa-github"></i> Code
          </a>
        </div>
      </div>

      <div class="columns">
        <div class="column is-8">
          <h3 class="is-size-5">Accomplishments</h3>
          <div class="columns">
            <div class="column is-6">
              <ul class="main-accomplishments">
                {% for accomplishment in page.main_accomplishments %}
                  {% for item in accomplishment %}
                    <li>{{ item }}</li>
                  {% endfor %}
                {% endfor %}
              </ul>
            </div>
            <div class="column is-6">
              <ul class="other-accomplishments">
                {% for accomplishment in page.other_accomplishments %}
                  {% for item in accomplishment %}
                    <li>{{ item }}</li>
                  {% endfor %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <p>Estimated time of development: <b>~{{ page.est_time }} months</b></p>
        </div>
      </div>
      
      <h3 class="is-size-3">Overview</h3>

      <h3 class="mt-5 mb-4">Main features</h3>
      
      {% for feature in page.main_features %}
        <div class="feature mb-5">
          <h4 class="is-size-6">{{ feature['title'] }}</h4>
          <span>{{ feature['description'] }}</span>
        </div>
      {% endfor %}  
      
      <h3 class="mt-5 mb-4">Screenshots</h3>

      {% assign path = page.title | prepend: 'images/' || downcase %}
      
      <div class="columns is-desktop is-multiline">
        {% for image in site.static_files %}
          {% if image.path contains path  %}
            <div class="column is-4">
              <a href="{{site.baseurl}}{{image.path}}" data-lightbox="{{ page.title || downcase }}">
                <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</article>