---
layout: default
---

<div class="container">
  <div class="sidebar">
    <div class="level one">
      <span class="level-title">
        <span class="mdi mdi-chevron-down"></span>
        <span class="mdi mdi-folder"></span>
        Projects
      </span>
  
      <ul class="level two">
        <li class="level-title">
          <span class="mdi mdi-chevron-right"></span>
          <span class="mdi mdi-language-ruby"></span>
          Ruby on Rails
        </li>
        <li class="level-title">
          <span class="mdi mdi-chevron-right"></span>
          <span class="mdi mdi-language-javascript"></span>
          Javascript
        </li>
        <li class="level-title">
          <span class="mdi mdi-chevron-right"></span>
          <span class="mdi mdi-code-tags"></span>
          HTML/CSS
        </li>
      </ul>
    </div>
  </div>
  
  <div class="row">
    <section class="projects">
      {% for project in site.projects %}
        <div class="project">
          <div class="project-info">
            <a href="{{project.url}}" class="project-number">Project {{forloop.index}}</a>
            <span class="project-name">// _{{project.name}}</span>
          </div>
      
          <div class="card">
            <div class="card-image">
              <!-- <img src="{{project.main_image}}" title="Project image" /> -->
            </div>
            <div class="card-body">
              Duis aute irure dolor in velit esse cillum dolore.
            </div>
      
            <a class="btn" href="{{project.url}}">view-project</a>
          </div>
        </div>
      {% endfor %}
    </section>

  </div>
</div>
